<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>data1024.icns</string>
			<key>CFBundleTypeName</key>
			<string>itinerary data file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.djml.itinerant.itinerary</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>settings1024.icns</string>
			<key>CFBundleTypeName</key>
			<string>itinerary settings file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.djml.itinerant.settings</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>export1024.icns</string>
			<key>CFBundleTypeName</key>
			<string>itinerary text file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.djml.itinerant.text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>package1024.icns</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>package_22x29.png</string>
				<string>package_44x58.png</string>
				<string>package_320x320.png</string>
				<string>package_64x64.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>itinerary data package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.djml.itinerant.itinerarypackage</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>data1024.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>itinerary data file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>uk.djml.itinerant.itinerary</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>itinerary</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>settings1024.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>itinerary settings file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>uk.djml.itinerant.settings</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>settings</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>export1024.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>itinerary text file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>uk.djml.itinerant.text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>export</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>package1024.icns</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>package_22x29.png</string>
				<string>package_44x58.png</string>
				<string>package_320x320.png</string>
				<string>package_64x64.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>itinerary data package</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>uk.djml.itinerant.itinerarypackage</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>itinerarypkg</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
